.time-line-container>div:last-child .education__time>.education__line {
    display: none;
}


img, picture :global(img), svg {
  margin-block: 2.5rem;
  border-radius: 10px;
  background-color: red;
}

@font-face {
    font-family: 'VCR';
    src: url('/fonts/VCR_OSD_MONO.ttf') format('truetype');
  }

  .font-vcr-osd-mono {
    font-family: 'VCR', monospace;
  }
