---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    As a Back End Developer, I have more than 1.5 years experience<br>
   As a Professional Worker, I have more than 4 years experience with responsibility to manage team, build chemistry between member and serve client or customer with dynamic background from outside or within company
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="Bachelor degree, Mercu Buana, Jakarta"
      subtitle="January 2013 to December 2017, Concentration Management Human Resource, graduate with score 3.20"
    />
    <TimeLineElement
      title="Associate Degree, Bina Sarana Informatika, Jakarta"
      subtitle="January 2012 to December 2015, Concentration Web Developer, graduate with score 2.81"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Developer, Telkom Indonesia, Jakarta"
      subtitle="February 2023 - now "
    >
    Contribute in DPE ( Digital Product Engineering ) to build golang standarized codebase with team using Hexaognal Architechture
  </TimeLineElement>
  <div class="time-line-container mb-10">
    <TimeLineElement
      title="Backend Developer, Alteacare, Tangerang"
      subtitle="January 2023 — January 2023"
    >
    Alteacare is TeleMedicine app, here I'm responsible to initiate new Backend service for migration code purpose ( from NodeJS to Go ), Contiribute only 1 month in this company because I got layoff on the end of January 2023
    </TimeLineElement>
    <TimeLineElement
      title="Backend Developer, Female Daily, Jakarta"
      subtitle="May 2021 — September 2022"
    >
    Female Daily is a one of biggest beauty platform network in Indonesia . Here in Female Daily, I'm develop backend for community tribe
      </TimeLineElement>
    <TimeLineElement
      title="Penata Adm Monitoring Usaha, KKJ BPJSTK, Jakarta"
      subtitle="June 2016 — May 2021"
    >
    Monitoring business , monitoring staff, lead small team consist 2 employee, negotiate with member within and outside company, make monthly and yearly report to management
  </TimeLineElement>
  </div>

  <!-- <div class="mb-5">
    <div class="text-3xl w-full font-bold">Certifications</div>
  </div> -->

  <!-- <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
    <li>
      <a href="#" target="_blank"> Certification Name (with link)</a>
    </li>
  </ul> -->

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-3 columns-2 mx-6">
    <li>Golang</li>
    <li>Python</li>
    <li>Javascript</li>
    <li>SQL/noSQL</li>
    <li>CI/CD gitlab/jenkins</li>
    <li>Kubernetes</li>
    <li>Docker</li>
    <li>Elasticsearch</li>
    <li>Message Broker ( kafka/rabbitmq)</li>
    <li>Redis</li>
    <li>AWS/GCP</li>
    <li>DDD Archictechture</li>
    <li>Hexagonal Archictechture</li>

  </ul>
</BaseLayout>
